<% include ../partials/header %>


<div class="ui main container">
   <div class="ui segment">

      <div class="ui huge center align header">
         Edit Exercies
      </div>

      <div class="ui fuid form">
         <form action="/workouts/<%=workout_id%>/exercise/<%=exercise._id%>?_method=PUT" method="POST">
            <div class="three fields">
               <div class="field">
                  <label>Exercise</label>
                     <input type="text" name="exercise[type]" value="<%=exercise.type%>">
               </div>
               
               <div class="field">
                  <label>Weight</label>
                  <input class="field" type="text" name="exercise[weight]" value="<%=exercise.weight%>">
               </div>

               <div class="field">
                  <label>Reps</label>
                  <input class="field" type="number" name="exercise[reps]" value="<%=exercise.reps%>">
               </div>
            </div>

            <div class="">
            <button class="fluid basic positive ui button" type="submit">
               Submit
            </button>
            </div>

         </form>
      </div>
      

   </div>  
</div>

<% include ../partials/footer %>