<% include ../partials/header %>


<div class="">
   <div class="">
      <h1> Edit Exercise</h1>

      <form action="/workouts/<%=workout_id%>/exercise/<%=exercise._id%>?_method=PUT" method="POST">
         <div class="">
            <input class="" type="text" name="exercise[type]" value="<%=exercise.type%>">
            <input class="" type="text" name="exercise[weight]" value="<%=exercise.weight%>">
            <input class="" type="number" name="exercise[reps]" value="<%=exercise.reps%>">
            <!--need to add the other exercise fields-->
         </div>
         <div class="">
         <button class="">
            Submit
         </button>
         </div>
      </form>

   </div>  
</div>

<a href="/workouts">Back to campgrounds</a>

<% include ../partials/footer %>